body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to bottom, #45e9b8 2%, #bfc4cc 80%);
}

.App {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  text-shadow: 1px 1px 3px;
  box-shadow: 2px 2px 5px;
}

form > div {
  margin-bottom: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 4px;
  box-shadow: 2px 2px 5px;
}

button {
  background: #7067cfaa;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  width: 100%;
}

.Welcome {
  width: 100%;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
}

.FourOFour {
  text-align: center;
  width: 713px;
  height: 433px;
  color: aliceblue;
  background-image: url(http://www.informationng.com/wp-content/uploads/2017/07/zee-say-what-meme.png);
}
.FourOFour h1 {
  font-size: 60px;
}
.FourOFour p {
  font-size: 30px;
  color: #303683;
  text-shadow: rgba(1, 1, 1, 3);
}
